/*
**  CSS Variables
*/

:root {
  --blue: 150, 200, 250;
}

/*
**  Generic classes
*/

body {
  background-color: #333;
  font-family: 'dosisregular';
}

#global {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#frame {
  width: 0;
  height: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  background-color: #222;
  border-radius: 8px;
  transition: 0.5s;
}

/*
**  Window classes
*/

.ui_window {
  position: relative;
  min-width: 200px;
  padding: 10px;
  align-self: center;
  margin: 10px;
  border: 1px solid silver;
  background-color: rgba(var(--blue), 0.8);
}

.ui_window p {
  margin: 0;
}
